@model Contato

@{
    ViewData["Title"] = "Adicionar novo contato";
}

<div class="text-center">

<h2 class="display-4">Cadastrar novo contato</h2>

</div>

<form asp-controller="Contato" asp-action="AdicionarContato" method="post">
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" id="nome" asp-for="Nome" class="form-control" placeholder="Insira o nome do contato">
 <span asp-validation-for="Nome"></span>
</div>

  <div class="mb-3">
    <label for="email" class="form-label">E-mail</label>
    <input type="text" id="email" asp-for="Email" class="form-control" placeholder="Insira o e-mail do contato">
    <span asp-validation-for="Email"></span>
</div>

  <div class="mb-3">
    <label for="tel" class="form-label">Telefone</label>
    <input type="tel" id="tel" asp-for="Telefone" class="form-control" placeholder="Insira o número do contato">
  <span asp-validation-for="Telefone"></span>
</div>
  <button type="submit" class="btn btn-success">Confirmar</button>
  <a class="btn btn-secondary" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
</form>