@model Contato

@{
    ViewData["Title"] = "Editar contato";
}

<div class="text-center">

<h2 class="display-4">Editar contato</h2>

</div>

<form asp-controller="Contato" asp-action="EditarContato" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" asp-for="Nome" id="nome" class="form-control" placeholder="Insira o nome do contato">
    <span asp-validation-for="Nome"></span>
</div>

  <div class="mb-3">
    <label for="email" class="form-label">E-mail</label>
    <input type="text" asp-for="Email" id="email" class="form-control" placeholder="Insira o e-mail do contato">
    <span asp-validation-for="Email"></span>
</div>

  <div class="mb-3">
    <label for="tel" class="form-label">Telefone</label>
    <input type="tel" asp-for="Telefone" id="tel" class="form-control" placeholder="Insira o número do contato">
    <span asp-validation-for="Telefone"></span>
</div>
  <button type="submit" class="btn btn-success btn-block">Alterar</button>
  <a class="btn btn-secondary btn-block" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
</form>