@model Login
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Login";
}
<p>Tela de login</p> 


@if(TempData["Erro"] != null){
        <div class="alert alert-danger" role="alert">
        @TempData["Erro"]
        </div>
    }

@if(TempData["Sucesso"] != null){
        <div class="alert alert-success" role="alert">
        @TempData["Sucesso"]
        </div> 
}

<form asp-controller="Login" asp-action="RealizarLogin" method="post">
  <div class="mb-3">
    <label for="login" class="form-label">Login</label>
    <input type="text" class="form-control" asp-for="NomeLogin" id="login" placeholder="Insira o login">
  <span asp-validation-for="NomeLogin"></span>
</div>
  <div class="mb-3">
    <label for="senha" class="form-label">Senha</label>
    <input type="password" class="form-control" asp-for="Senha" id="senha" placeholder="Insira a senha">
  <span asp-validation-for="Senha"></span>
</div>
  <button type="submit" class="btn btn-primary">Entrar</button>
  <p>Esqueceu sua senha? 
    <a asp-action="RedefinirSenha" asp-controller="Login" class="text-primary text-gradient font-weight-bold">Redefinir senha!</a>
  </p>
</form>