﻿@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página Restrita!";
}

<h1>Acesso limitado para este usuário. Você não tem as permissões necessárias!</h1>
<a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Voltar para tela inicial</a>